/*universal styling starts*/
*{
  padding:0px;
  margin:0px;
  font-family:"Roboto",sans-serif;
}
/*universal styling endts*/

/*html, body styling starts*/
html,body{
    height:100%
}
/*html,body styling ends*/

/*background styling starts*/
.bg{
    height:100%;
    background-image: url('/Users/srinivasanr/Desktop/fancy-hat/images/background-image.png');
    background-repeat:no-repeat;
    background-size:cover;
    filter:brightness(80%);
}
/*background styling ends*/

/*menu-icon styling starts*/
.menu-icon
{
    position:absolute;
    left:0px;
    top:37px;
}
/*menu-icon styling ends*/

/*icon styling starts*/
.icon-style
{
    font-size:40px;
    width:80px;
    height:60px;
    color:white;
    background-color: black;
    text-align:center;
    padding-top:20px;
}
/*icon styling ends*/

/*heading styling starts*/
.heading-style
{
    position:absolute;
    left:650px;
    top:47px;
    font-size:75px;
    font-weight:700;
    color:white;
}
/*universal styling ends*/

/*year styling starts*/
.year-style{
    position:absolute;
    left:1440px;
    top:185px;
    display:flex;
    flex-wrap:nowrap;
    transform:rotate(270deg);
}

.year-style > div:nth-child(1)
{   
    font-size:45px;
    font-weight:700;
    color:white;
    align-self:center;
    margin-right:20px;
    margin-top:40px;
}

.year-style > div:nth-child(2)
{  
    font-size:110px;
    font-weight:700;
    color:white;
}
/*universal styling ends*/

/*menu-display styling starts*/
.menu-display
{
    display:none;
    position:absolute;
    left:-22px;
    top:80px;
    background-color:black;
    color:white;
    padding:40px 40px 0px 50px;
    font-size:20px;
    width:180px;
    height:775px;
    border-radius:25px;
}

.menu-icon:hover .menu-display
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.menu-display > span{
    text-align:center;
    padding-bottom:25px;

}
/*menu-display styling ends*/

/*caption styling starts*/
.caption
{
    position:absolute;
    bottom:60px;
    left:545px;
    font-size:115px;
    font-weight:700;
    display:flex;
    flex-direction:column;
    color:white;
    line-height:120px;
}

.caption > span:nth-child(2)
{
    font-size:150px;
}
/*caption styling starts*/

/*footer styling starts*/
footer
{
    display:flex;
    position:absolute;
    bottom:15px;
    right:20px;
    justify-content:space-between;

}

footer > div:nth-child(1){
    padding-right:15px;
}
/*footer styling starts*/